
<div class="container my-5" style="max-width: 1000px">
<h1 class="my-5">Edit list</h1>

  <%= render "form", list: @list %>

 <!-- >   <%= link_to "Show this list", @list %>  -->
  <%= link_to "Back to lists", lists_path, class: "button solid-button" %>

</div>
