<div class="container mb-5" style="max-width: 1000px">
<h1 class="my-5">Edit movie</h1>

  <%= render "form", movie: @movie %>

 <!-- > <%= link_to "Show this movie", @movie %> | -->
  <%= link_to "Back to movies", movies_path, class: "button solid-button" %>

</div>
