// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


body{
  background: #141414;
  color: #f7f7f7;

}

.container p{
  max-width: 600px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 450px;
  display: flex;
  justify-content: left;
  align-items: end;
  border-radius: 8px;
  position: relative;
  padding: 30px;
  border: 1px solid #333;
  overflow: hidden;
  transform: scale(1);
  transition: 0.3s ease;
}

.card-category:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

.card-category a {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  border: 0;
  text-indent: -9999px;
  text-align: center;
  margin: auto;
  padding: 80% 0;
}
.card-category.add-new a {
  text-indent: 0;
  padding: 30% 0;
  text-decoration: none;
  color: #f7f7f7
}

.card-category.add-new a::before {
  content: "+";
  display: block;
  font-size: 100px;
}


.card-list-category {
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: left;
  align-items: end;
  border-radius: 8px;
  position: relative;
  padding: 30px;
  border: 1px solid #333;
  overflow: hidden;
  transform: scale(1);
  transition: 0.3s ease;
}

.card-list-category:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}

.card-list-category.add-new a {
  text-indent: 0;
  padding: 10% 0;
  text-decoration: none;
  color: #f7f7f7
}

.card-list-category.add-new a::before {
  content: "+";
  display: block;
  font-size: 100px;
}


.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

.card-list a {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  border: 0;
  text-indent: -9999px;
  text-align: center;
  margin: auto;
  padding: 80% 0;
}

.card-category a.bookmark {
  position: absolute;
  top: 30px;
  height: 50px;
  width: 50px;
  left: auto;
  right: 30px;
  padding: 0;
  text-indent: 0;
  z-index: 2;
  font-size: 30px;
  line-height: 50px;
}

a.bookmark-large {
  position: absolute;
  top: 60px;
  height: 60px;
  width: 60px;
  left: 130px;
  right: auto;
  padding: 0;
  text-indent: 0;
  z-index: 2;
  font-size: 25px;
  line-height: 60px;
  border: 1px solid white;
  border-radius: 60px;
  text-align: center;
}

.card-list.add-new a {
  text-indent: 0;
  padding: 30% 0;
  text-decoration: none;
  color: #f7f7f7
}

.card-list.add-new a::before {
  content: "+";
  display: block;
  font-size: 100px;
}


.banner {
  background-size: cover;
  background-position: center;
  padding: 225px 0;
}

.banner h1 {
  font-size: 50px;
  text-align: center;
}

.back{
  position: absolute;
  height: 60px;
  width: 60px;
  left: 60px;
  top: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 60px;
  border: 1px solid #fff;
  transform: rotate(180deg);
  font-size: 20px;
}

.button{
  padding: 20px 40px;
  border-radius: 8px;
  border: 1px solid #333 !important;
  text-decoration: none;
  color: white;
  float: left;
  margin: 0 10px 10px 0;
}
.solid-button{
  background: #333;
}
.container:after{
  clear: both;
  display: block;
  content: ""
}

.form-control, .form-select{
  background: none !important;
  border: 1px solid #333 !important;
  border-radius: 4px;
  color: #fff !important;
  line-height: 50px;
  font-size: 24px;
}

textarea{
  min-height: 200px !important;
}


.card-grid-review {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

.card-review {
  height: 350px;
  display: flex;
  justify-content: left;
  align-items: start;
  border-radius: 8px;
  position: relative;
  border: 1px solid #333;
  overflow: hidden;
  transform: scale(1);
  transition: 0.3s ease;
}

.card-review:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}

.poster {
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.rating{
  position: absolute;
  background: white;
  color: black;
  top: 20px;
  left: 20px;
  padding: 10px 15px;
  font-weight: bold;
  border-radius: 4px;
}
.content{padding: 30px;}

.card-review a {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  border: 0;
  text-indent: -9999px;
  text-align: center;
  margin: auto;
  padding: 80% 0;
}

nav ul{
  position: absolute;
  right: 10px;
  list-style: none;
  top: 5px
}
nav ul li{
  float: left;
  margin-left: 10px;
}
nav ul li a{
  text-decoration: none;
  color: white;
}
nav ul li a i{
margin: 0 5px;
}
.movie{
  margin: -17px 0 0;
}

.movies-show nav{
  top: 70px
}

@media(max-width: 1199px){
  .card-grid, .card-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

}

@media(max-width: 999px){
  .card-grid, .card-list {
    grid-template-columns: 1fr 1fr;
  }
  .card-category, .card-list-category{
    padding: 10px;
    height: 250px;
  }
  .card-category a.bookmark{
    top: 10px;
    right: 10px
  }
  .card-grid-review{
    grid-template-columns: 1fr;
  }
  a.bookmark-large{
    left: 80px;
  }
  .back{
    left: 10px;
  }
  .banner{
    padding: 180px 0;
  }
}
